<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div th:fragment="form">
		<div class="mb-3 col-5">
			<label for="name" class="form-label">Nome</label>
			<input type="text" id="name" th:field="*{name}" class="form-control" th:errorClass="is-invalid">
			<div th:if="${#fields.hasErrors('name')}">
				<ul>
					<li th:each="err : ${#fields.errors('name')}" th:text="${err}" class="text-danger"></li>
				</ul>
			</div>
		</div>
		<div class="mb-3 col-5">
			<label for="description" class="form-label">Descrizione</label>
			<textarea id="description" th:field="*{description}" class="form-control" th:errorClass="is-invalid"></textarea>
			<div th:if="${#fields.hasErrors('description')}">
				<ul>
					<li th:each="err : ${#fields.errors('description')}" th:text="${err}" class="text-danger"></li>
				</ul>
			</div>
		</div>
		<div class="mb-3 col-5">
			<label for="photo" class="form-label">Foto</label>
			<input type="text" id="photo" th:field="*{photo}" class="form-control" th:errorClass="is-invalid">
			<div th:if="${#fields.hasErrors('photo')}">
				<ul>
					<li th:each="err : ${#fields.errors('photo')}" th:text="${err}" class="text-danger"></li>
				</ul>
			</div>
		</div>
		<div class="mb-3 col-5">	
			<label for="price" class="form-label">Prezzo</label>
			<input type="number" value="0.01" step="0.01" id="price" th:field="*{price}" class="form-control" th:errorClass="is-invalid">
			<div th:if="${#fields.hasErrors('price')}">
				<ul>
					<li th:each="err : ${#fields.errors('price')}" th:text="${err}" class="text-danger"></li>
				</ul>
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Salva</button>
	</div>
</body>
</html>